body {
  background-color: #fff;
  font-family: 'Playfair Display', sans-serif;
  color: #462521;
  font-size: 14px;
  line-height: 180%;
}

h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #462521;
  font-size: 75px;
  line-height: 101%;
  font-weight: 400;
}

h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: 'Abril Fatface', sans-serif;
  font-size: 56px;
  line-height: 137%;
}

h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 101%;
  font-weight: 400;
}

h4 {
  margin-top: 0px;
  color: #b7b4b9;
  font-size: 14px;
  line-height: 110%;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

p {
  margin-bottom: 10px;
  color: #462521;
  font-size: 18px;
  line-height: 149%;
}

a {
  color: #462521;
  font-weight: 700;
}

.hero {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  padding: 115px 24px 24px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.container {
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.container.relative {
  position: relative;
}

.container.center {
  text-align: center;
}

.hero-paragraph {
  max-width: 496px;
  margin-bottom: 15px;
}

.button {
  min-width: 200px;
  padding: 11px 36px 12px;
  border-style: solid;
  border-width: 3px;
  border-color: #462521;
  background-color: #462521;
  box-shadow: 0 0 0 3px #462521;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.button-border {
  display: inline-block;
  background-color: transparent;
  box-shadow: 0 0 0 3px #462521;
  -webkit-transform: translate(11px, 11px);
  -ms-transform: translate(11px, 11px);
  transform: translate(11px, 11px);
}

.button-wrapper {
  display: inline-block;
  margin-top: 40px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.hero-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15vh 60px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #f9efe7;
}

.highlight {
  position: absolute;
  left: 4%;
  top: 50%;
  right: 0%;
  bottom: auto;
  height: 36%;
  margin-right: 4px;
  background-color: rgba(202, 46, 85, 0.44);
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.hero-heading {
  position: relative;
  display: inline;
  margin-right: 10px;
  margin-bottom: 0px;
  line-height: 150%;
}

.highlight-box {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.highlight-box.card-higlight {
  display: inline;
}

.headline-wrap {
  max-width: 100vh;
  margin-bottom: 24px;
}

.navbar {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  margin-top: 24px;
  margin-right: 24px;
  margin-left: 24px;
  padding-top: 32px;
  padding-right: 60px;
  padding-left: 60px;
  background-color: transparent;
}

.logo {
  color: #462521;
  font-size: 18px;
  font-weight: 400;
}

.nav-link {
  margin-left: 48px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.nav-link.yellow-link {
  padding-right: 0px;
  padding-left: 0px;
  box-shadow: inset 0 -10px 0 0 rgba(202, 46, 85, 0.44);
}

.nav-link.yellow-link:hover {
  box-shadow: inset 0 -22px 0 0 rgba(202, 46, 85, 0.44);
}

.yellow-link {
  box-shadow: inset 0 -10px 0 0 rgba(202, 46, 85, 0.44);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-weight: 700;
  text-decoration: none;
}

.yellow-link:hover {
  box-shadow: inset 0 -22px 0 0 rgba(202, 46, 85, 0.44);
}

.yellow-link.test {
  box-shadow: inset 0 -10px 0 0 #ffe872;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
}

.yellow-link.test:hover {
  box-shadow: inset 0 -28px 0 0 #ffe872;
}

.scroll-wrapper {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 10px;
  height: 0px;
  padding-right: 84px;
  padding-left: 84px;
  text-align: right;
}

.scroll-arrow {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  display: inline-block;
  width: 2px;
  height: 105px;
  background-color: #000;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.scroll-text {
  position: absolute;
  left: 46px;
  top: 0%;
  right: auto;
  bottom: auto;
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  font-weight: 700;
  text-transform: uppercase;
}

.scroll-block {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: inline-block;
  overflow: hidden;
  width: 46px;
  height: 105px;
}

.section {
  margin-right: 24px;
  margin-left: 24px;
  padding: 60px 0px;
}

.section.side-content-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.section.overflow {
  overflow: hidden;
}

.project {
  display: -ms-grid;
  display: grid;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 14px;
  grid-template-areas: ". Area"
    ". Area";
  -ms-grid-columns: 1fr 60px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.left-column {
  max-width: 100%;
  min-width: 410px;
}

.mockup-column {
  position: relative;
  text-align: right;
}

.tags-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-bottom: 0px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.tag {
  margin-right: 16px;
  margin-bottom: 16px;
  padding: 6px 10px;
  background-color: #f9efe7;
  font-size: 13px;
  line-height: 16px;
  font-weight: 700;
}

.dots {
  position: absolute;
  left: -24px;
  top: auto;
  right: auto;
  bottom: -24px;
}

.mockup-img {
  position: relative;
  z-index: 1;
}

.mockup-hover {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: -42px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  padding-top: 2px;
  padding-left: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mockup-hover-text {
  display: inline-block;
  margin-right: 12px;
  color: #b7b4b9;
  font-weight: 600;
  letter-spacing: 0.03em;
}

.heading-5 {
  color: #8a6552;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: none;
}

.mockup-arrow-wrapper {
  overflow: hidden;
}

.right-column {
  max-width: 544px;
  padding-top: 30px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.what-i-do {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.development-heading {
  margin-top: 80px;
}

.footer {
  margin-right: 24px;
  margin-left: 24px;
  padding: 50px 60px 24px;
  background-color: #f9efe7;
}

.want-to-work {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 260px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.copyright {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.portfolio-paragraph {
  max-width: 480px;
  margin-bottom: 20px;
}

.portfolio-paragraph.slider-paragraph {
  margin-right: auto;
  margin-left: auto;
}

.header-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 170px 60px 300px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #f9efe7;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.header-paragraph {
  max-width: 736px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

.screen-container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.screen-image {
  border-radius: 4px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}

.live-site-link {
  display: inline-block;
  margin-top: 12px;
  font-size: 18px;
  line-height: 149%;
}

.live-site-link.yellow-link.w--current {
  box-shadow: inset 0 -10px 0 0 rgba(202, 46, 85, 0.44);
}

.live-site-link.yellow-link.w--current:hover {
  box-shadow: inset 0 -22px 0 0 rgba(202, 46, 85, 0.44);
}

._24px {
  height: 24px;
}

.page-heading {
  position: relative;
  display: inline;
  margin-right: 10px;
  margin-bottom: 0px;
  line-height: 101%;
}

.page-heading.bold {
  font-weight: 600;
}

.div-block {
  height: 2px;
}

.horizontal-divider {
  height: 1px;
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: rgba(138, 101, 82, 0.4);
}

.horizontal-divider.app-page {
  margin-top: 40px;
}

.horizontal-divider.card-divide {
  margin-top: 10px;
  margin-bottom: 10px;
}

.arrow-lottie {
  margin-right: 10px;
  margin-bottom: 85px;
}

.arrow-lottie.hero-arrow {
  color: #eb2710;
}

.div-block-2 {
  position: relative;
}

.header-wrapper-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 170px 60px 300px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #f9efe7;
}

.screen-image-2 {
  position: relative;
  top: -300px;
  margin-bottom: -220px;
  border-radius: 4px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}

.screen-image-2.no-shadow {
  box-shadow: none;
}

.div-block-3 {
  position: relative;
  left: 40px;
  top: 80px;
  display: inline-block;
  width: 100px;
  height: 50px;
  opacity: 0.9;
  -webkit-transform: rotateX(0deg) rotateY(180deg) rotateZ(-90deg);
  transform: rotateX(0deg) rotateY(180deg) rotateZ(-90deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.background-video {
  display: inline-block;
  overflow: hidden;
  width: 442px;
  height: 792px;
  max-width: 100%;
  border-radius: 65px;
}

.side-bars {
  min-width: 275px;
}

.side-bars.right {
  display: none;
}

.side-bars.left {
  display: none;
}

.slider-section-content {
  max-width: 540px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.projects-slider {
  height: auto;
  margin-top: 70px;
  background-color: transparent;
}

.mask {
  overflow: visible;
}

.slide {
  width: 367px;
  margin-right: 30px;
}

.project-card {
  width: 367px;
  min-height: 460px;
  padding: 15px;
  background-color: #f9efe7;
}

.slide-nav {
  display: none;
}

.thumbnail {
  height: 255px;
  background-image: url('../images/DECA-homepage.JPG');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.thumbnail.card2 {
  background-image: url('../images/BA-SSP-homepage.JPG');
}

.thumbnail.card4 {
  background-image: url('../images/Just-like-me-books-page.png');
  background-position: 65% 0%;
}

.thumbnail.card5 {
  background-image: url('../images/landing-page.png');
  background-position: 50% 0%;
}

.thumbnail.card3 {
  background-image: url('../images/Evergreen-page.JPG');
}

.card-content {
  padding-top: 15px;
}

.heading-7 {
  font-size: 20px;
}

.card-text {
  font-size: 16px;
}

.card-header {
  display: inline;
  margin-right: 5px;
}

.card-header.bold {
  font-weight: 600;
}

.card-header.card-text-space {
  margin-left: -5px;
}

.slider-arrow {
  left: auto;
  top: auto;
  right: 6%;
  bottom: -50px;
  margin-right: 0px;
}

.slider-arrow.left {
  margin-right: 120px;
}

@media screen and (max-width: 991px) {
  .hero-wrap {
    padding-right: 40px;
    padding-left: 40px;
  }

  .navbar {
    padding-right: 40px;
    padding-left: 40px;
  }

  .section {
    padding: 40px;
  }

  .project {
    padding-top: 70px;
    padding-bottom: 70px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-template-areas: ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .left-column {
    width: 100%;
    max-width: none;
    min-width: auto;
  }

  .mockup-column {
    width: 100%;
    margin-bottom: 60px;
    background-color: #f9efe7;
    text-align: center;
  }

  .mockup-column.smartphone {
    background-color: transparent;
  }

  .tag {
    margin-right: 8px;
    margin-bottom: 8px;
  }

  .mockup-hover {
    display: none;
  }

  .right-column {
    margin-bottom: 20px;
  }

  .what-i-do {
    margin-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer {
    padding-top: 30px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .want-to-work {
    margin-bottom: 20vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header-wrapper {
    padding-right: 40px;
    padding-left: 40px;
  }

  .div-block-2 {
    margin-bottom: 60px;
  }

  .header-wrapper-2 {
    padding-right: 40px;
    padding-left: 40px;
  }

  .side-bars.right {
    display: none;
  }

  .side-bars.left {
    display: none;
  }

  .slider-arrow {
    bottom: -35px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 50px;
  }

  .hero-wrap {
    padding-top: 140px;
    padding-right: 30px;
    padding-left: 30px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .headline-wrap {
    max-width: 100%;
  }

  .navbar {
    padding-right: 30px;
    padding-left: 30px;
  }

  .scroll-wrapper {
    display: none;
  }

  .section {
    padding: 30px;
  }

  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .development-heading {
    margin-top: 40px;
  }

  .footer {
    padding-right: 30px;
    padding-left: 30px;
  }

  .brand {
    padding-left: 0px;
  }

  .header-wrapper {
    padding-top: 140px;
    padding-right: 30px;
    padding-left: 30px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-2 {
    margin-bottom: 45px;
  }

  .header-wrapper-2 {
    padding-top: 140px;
    padding-right: 30px;
    padding-left: 30px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .slider-arrow {
    bottom: -25px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 37px;
  }

  .hero {
    min-height: auto;
    padding: 16px;
  }

  .button {
    min-width: 50px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .button-wrapper {
    margin-top: 0px;
    margin-left: 10px;
  }

  .button-wrapper.section-btn {
    top: 60%;
  }

  .hero-wrap {
    padding: 120px 20px 0px;
  }

  .hero-heading {
    margin-right: 8px;
  }

  .highlight-box {
    margin-right: 2px;
  }

  .headline-wrap {
    max-width: 300px;
  }

  .navbar {
    margin-top: 16px;
    margin-right: 16px;
    margin-left: 16px;
    padding-top: 24px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .nav-link.yellow-link {
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 50%;
    box-shadow: inset 0 -10px 0 0 rgba(202, 46, 85, 0.44);
    color: #f9efe7;
    text-align: right;
  }

  .section {
    margin-right: 16px;
    margin-left: 16px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .section.overflow {
    padding-right: 20px;
    padding-left: 20px;
  }

  .project {
    padding-top: 0px;
    padding-bottom: 0px;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .dots {
    left: -16px;
    bottom: -16px;
    width: 70px;
  }

  .menu-button {
    margin-top: -6px;
    margin-right: -8px;
    padding: 8px;
  }

  .menu-button.w--open {
    background-color: #462521;
  }

  .nav-menu {
    padding: 10px 20px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    background-color: #462521;
    text-align: right;
  }

  .header-wrapper {
    padding-top: 120px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .header {
    min-height: auto;
    padding: 16px;
  }

  .screen-image {
    margin-bottom: -260px;
  }

  .page-heading {
    margin-right: 8px;
  }

  .arrow-lottie {
    margin-bottom: 20px;
  }

  .arrow-lottie.hero-arrow {
    margin-bottom: 85px;
  }

  .header-wrapper-2 {
    padding-top: 120px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .screen-image-2 {
    margin-bottom: -260px;
  }

  .background-video {
    width: 220px;
    height: 396px;
    border-radius: 30px;
  }

  .projects-slider {
    margin-top: 40px;
  }

  .slide {
    width: 90%;
    margin-right: 15px;
  }

  .project-card {
    width: 100%;
  }

  .thumbnail {
    height: 200px;
  }

  .card-text {
    font-size: 14px;
    line-height: 161%;
  }

  .slider-arrow {
    bottom: -26px;
  }
}

#w-node-faa96c6c-26a4-3d31-6305-2dcac7f1995d-703ba188 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_6595e6a8-81c6-c284-72fe-479df0f6b576-703ba188 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_08f4d98c-73d8-fde4-16ec-389d7742f742-703ba188 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_08f4d98c-73d8-fde4-16ec-389d7742f75d-703ba188 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_210de82e-d689-25f5-628a-f3851587f384-703ba188 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_210de82e-d689-25f5-628a-f3851587f3a3-703ba188 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1bc4bb51-e4d9-6539-392e-0682761bc167-703ba188 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1bc4bb51-e4d9-6539-392e-0682761bc191-703ba188 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c2cb22bb-e90a-e36a-77f0-3a61f5aadb45-94bffff7 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c2cb22bb-e90a-e36a-77f0-3a61f5aadb66-94bffff7 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_42b0b37e-936e-f8c1-4625-ba17723fcc95-94bffff7 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_42b0b37e-936e-f8c1-4625-ba17723fcca7-94bffff7 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: start;
  justify-self: start;
}

